



@media (min-width: 1025px) {


}



@media (max-width: 1200px) {
	.header_slogan { font-size: 32px; }

	.l_first__title,
	.l_item__title,
	.l_preims__title,
	.l_last__title { font-size: 60px; }

	.l_item__subname { font-size: 24px; margin-bottom: 4em; }
	.l_item__chars { font-size: 18px; }
	.l_preims__item { flex: 0 0 22%; }

	.l_last__subtitle { font-size: 32px; }

	.btn { height: 42px; line-height: 38px; font-size: 13px; }
	.l_last__list { margin-bottom: 110px; }



	.l_top__title { font-size: 60px; }
	.contacts_wrap > .wrapper > .row > .col-6:first-child { margin-left: 62px; }
	.contacts .font28 { font-size: 24px !important; }
	.contacts .form-check { font-size: 12px !important; }

	.contacts_wrap > .wrapper > .row { display: flex; }

	.items_block__title { font-size: 60px; }
	.items_list { margin-left: -15px; }

	.top_menu { display: flex; }
	.top_menu__item { margin: 0 auto; font-size: 20px; }
	
}


@media  (max-width: 1024px) {
	.header_logo svg { max-width: 180px; }
	.header_slogan { font-size: 22px; }
	.header_menu__toggle { font-size: 23px; }
	.header_menu__toggle i { width: 61px; height: 61px; line-height: 61px; }

	.l_first__title,
	.l_item__title,
	.l_preims__title,
	.l_last__title { font-size: 50px; margin-left: 30px; }

	.l_item__name { font-size: 54px; }
	.l_item__img_big_wrap:after { left: 70px; }
	.l_item__subname { padding-left: 30px; }
	.l_item__chars { padding-left: 30px; }
	.l_item__btn { padding: 0 15px; }
	.l .wrapper { padding-right: 30px; }
	.l_item .wrapper { padding-right: 30px; }

	.l_item__img_big_wrap:after { width: 400px; height: 400px; }
	.l_last__list { margin-bottom: 90px; }

	.l_top__title { font-size: 50px; margin-left: auto; margin-right: auto; text-align: center; }

	.contacts_wrap > .wrapper > .row { display: flex; flex-wrap: wrap; justify-content: center; }
	.contacts_wrap > .wrapper > .row > .col-6 { margin-left: 0 !important; margin-right: 0; width: 100%; text-align: center; }
	.contacts_wrap > .wrapper > .row > .col-6:first-child { max-width: 640px; margin-bottom: 40px; }
	.contacts_form { margin-left: auto; margin-right: auto; max-width: 435px; }
	.contacts_form .selectbox { margin-left: -45px; }
	.contacts_wrap > .wrapper:before { font-size: 86px; }

	.menu_slogan { margin-left: 0; font-size: 40px; }
	.menu .btn { margin-left: 0; }
	.menu .header_menu__toggle i >svg { margin-top: 10px; }
	.menu_menu { margin-left: 35px; }


	.items_block__title { font-size: 50px; }
	.top_menu__item { margin: 0 auto; font-size: 15px; }

	.item > .wrapper > .row { flex-wrap: wrap; }
 	.item > .wrapper > .row > .col-7,
 	.item > .wrapper > .row > .col-5 { width: 100%; margin-left: auto; margin-right: auto; max-width: 768px;  }
 	.item > .wrapper > .row > .col-7 { margin-bottom: 40px; }


	.item__info { display: flex; flex-wrap: wrap; }
	.l_item__name { width: 100%; }
	.l_item__subname { width: 50%; }
	.l_item__chars { width: 45%; margin-left: 5%; }
	.item .l_item__btn { margin-left: auto; margin-right: auto; transform: scale(1.4); align-self: center;  }
	.item_icons { width: 100%; max-width: 50%; }


	.footer .col- { font-size: 16px; } 
	.footer .col- > .row { flex-direction: column; } 
	.footer_col__label { margin-bottom: 5px; }
	.footer_soc__item { font-size: 18px; }


}
			 
@media (max-width: 767px) {

	.l_item__img_big_wrap:before { bottom: -250px; }
	.l_item__img_big_wrap:after { width: 300px; height: 300px; }
	.l_item__img_wrap { zoom: .6; }

	.l_preims__list { flex-wrap: wrap; justify-content: space-around; }
	.l_preims__item { flex: 0 0 40%; }
	.l_preims__item:nth-child(1),
	.l_preims__item:nth-child(2) { margin-bottom: 45px; }

	.l_last__list { flex-wrap: wrap; justify-content: center; }
	.l_last__list > .col-3 { width: 290px; }
	.l_last__list > .col-3:nth-child(1),
	.l_last__list > .col-3:nth-child(2) { margin-bottom: 30px; }
	.l_last__list { margin-bottom: 50px; }
	.l_last__subtitle { font-size: 28px; }

	.l .wrapper { padding-right: 15px; }
	.l_item .wrapper { padding-right: 0; }


	.l_first__title,
	.l_item__title,
	.l_preims__title,
	.l_last__title { font-size: 36px; margin-left: 30px; }

	.l_first__subtitle { font-size: 24px; }
	.l_first__desc { font-size: 16px; }

	.header_flex { flex-wrap: wrap; justify-content: center; }
	.header_menu__toggle { font-size: 0; }
	.header_menu__toggle i { font-size: 20px; }

	.l_item .col-6 { padding: 0 .5em; }
	.l_item__img_big_wrap:after { width: 200px; height: 200px; }
	.l_item__top { flex-wrap: wrap; }
	.l_item__name { font-size: 40px; margin-bottom: 20px; }
	.l_item__subname { padding-left: 0; font-size: 18px; margin-bottom: 20px; }
	.l_item__chars { padding-left: 0; font-size: 16px; }

	.l_item__img_big_wrap:before { bottom: -200px; zoom: .8; }


	.items_list { display: flex; flex-wrap: wrap; align-items: center; }
	.items_list > .col-6 { max-width: 480px; width: 100%; margin-left: auto; margin-right: auto; }
	.items_block__title { max-width: 450px; width: 100%; margin-left: auto; margin-right: auto; }


	.menu_left { display: none; }
	.menu_right { width: 100%; }
	.menu_inset { max-width: 100%; }

	.menu__top { margin-top: 30px; }

	.item > .wrapper > .row > .col-7 { max-width: 90%; }
	.item > .wrapper > .row > .col-5 { max-width: 90%; }
	.item .l_item__btn { transform: scale(1); }
	.item__img { transform: translateX(15%); }
	.item__img_wrap:after { right: -35px; }

	.l_last__list > .col-4 { width: 290px; margin-bottom: 25px; }


	.footer_menu { display: none; }
	.footer_sitemap { display: none; }
	.footer_contacts { display: none; }
	.footer_menu + .col- { margin-left: auto; text-align: right; justify-content: flex-end; }
	.footer_copy { margin-left: auto; }
	
}

@media (max-width: 570px) {
	.l_last__list > .col-3:nth-child(3) { margin-bottom: 30px; }

	
}

 
@media (max-width: 480px) {
	.l_first__title,
	.l_item__title,
	.l_preims__title,
	.l_last__title { font-size: 32px; margin-left: 15px; }
	.l_item__name { font-size: 38px; margin-bottom: 20px; }
	.l_last__subtitle { font-size: 20px; }
	
	.l_item__top { flex-direction: column; }


	.l_top__title { font-size: 33.36px; }
	.contacts_wrap > .wrapper:before { font-size: 45px; }
	.contacts .font28 { font-size: 20px !important; }
	.contacts_phone { font-size: 34px; }
	.contacts_form__title { font-size: 20px; }
	.contacts_map > #map1 { height: 300px; }

	.items_block__title { font-size: 34px; text-align: center; }
	.top_menu__item { font-size: 12px; }
	.l_item-green .l_item__btn { transform: scale(1); }

	.item > .wrapper > .row > .col-7 { max-width: 100%; }
	.item > .wrapper > .row > .col-5 { max-width: 100%; }
	
	.item__img_wrap { margin-left: 20px; margin-right: 20px; }
	.item__img { transform: translateX(15%) scale(.8);}
	.item__img_wrap:after { transform: scale(.8);}

	.item__after_img { flex-wrap: wrap; }
	.item__art { width: 100%; margin-left: 30px; margin-bottom: 20px; }
	.item__freeze { width: 50%; box-sizing: border-box; margin-right: 0;  font-size: 14px; padding-left: 30px; }
	.item__cold { width: 50%; box-sizing: border-box; margin-right: 0;  font-size: 14px; padding-left: 30px; }
	.item__freeze:before { transform: scale(.7); }
	.item__cold:before { transform: scale(.7); }
	.item__art span { font-size: 14px; line-height: 1.1 }
	.item__freeze span { font-size: 14px; line-height: 1.1 }
	.item__cold span { font-size: 14px; line-height: 1.1 }
	.l_item__subname { width: 100%; }
	.item .l_item__chars { width: 100%; margin-left: 0; }
	.item_icons { max-width: 1000px; width: 1000px; }
	.item__img_wrap:after { transform: scale(.6) translateX(16%);}


	.l_first__subtitle { font-size: 20px; }
	.l_item .col-6 { width: 100%; padding: 0 15px; }
	.l_first__title, .l_item__title, .l_preims__title, .l_last__title { font-size: 25px; margin-left: 0; }
	.l_item__img_wrap { text-align: center; zoom: .8; }
	.l_item__img_wrap:after { right: 40px; }
	/*.l_item__img { margin-top: 0; }*/
	.l_preims__item { flex: 0 0 90%; margin-left: auto; margin-right: auto; font-size: 20px; }
	.l_preims__item:nth-child(3) { margin-bottom: 45px; }

	.l .wrapper { padding-right: 15px; }
	.l_item .wrapper { padding-right: 15px; }

	.l_item__hot + .l_item__img_wrap { margin-bottom: 140px; }
	.l_item__img_big_wrap:before { bottom: -300px; }



}






